.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: grey;
}

.grid {
    display: grid;
    width: 25%;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 6px;
    padding-left: 50px;
}

.grid > p:last-child {
    text-align: left;
}

.operator {
    font-size: 30px;
}

.numberButton.selected {
    border: 2px solid black;
    color: black;
    font-weight: 600;
}

.numberButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 30px;
}
