.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: grey;
}

.grid {
    display: grid;
    width: 25%;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 6px;
    padding-left: 50px;
}

.grid > p:last-child {
    text-align: left;
}

.operator {
    font-size: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 6px;
    font-size: 30px;
}

.green {
    color: #00ff00;
    border: 2px solid #00ff00;
}

.red {
    color: #ff0000;
    border: 2px solid #ff0000;
}

.black {
    color: black;
    border: 2px solid black;
    font-weight: 600;
}
