.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: grey;
}

.grid {
    display: grid;
    width: 25%;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    text-align: center;
    padding: 10px;
}

.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
}

.buttonText {
    font-size: 30px;
}

.operator {
    font-size: 30px;
}
