.headerContainer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.headerContainer a {
    text-decoration: none;
    color: black;
}
